@page
@using WebHelpers.Mvc5
@{
    var treeviewActions = new Dictionary<string, string>
    {
        { "Json", "LoadData" },
        { "Array", "LoadData" }
    };
}

<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="treeview @Url.IsTreeviewActive(treeviewActions)">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Loading Data</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("Json", "LoadData")">
                        <a href="@Url.Action("Json", "LoadData")">Load from JSON</a>
                    </li>
                    <li class="@Url.IsLinkActive("Array", "LoadData")">
                        <a href="@Url.Action("Array", "LoadData")">Load from JavaScript Array</a>
                    </li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>